*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0a192f;
}

/* nav section started */
.nav-item .nav-link{
    font-size: 1.1rem;
    font-weight: 500;
    color: #fefbfb;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 15px;
    padding-top: 30px;
    margin-left: 15px;
}
.nav-item .nav-link:hover{
    color: #62FBD8;
    margin-left: 8px;
}

.navbar{
    margin: 0!important;
    padding: 0!important;

}

.navbar:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

a img{
    width: 6%;
    height: 6%;
    margin-left: 3%;
}

.nav-item .last-item{
    border: 1.5px solid #62FBD8;
    color: #62FBD8;
    margin-top: 24px !important;
    padding: 4px!important;
}
/* nav section ended */


.main-div{
    padding-left: 20%;
    padding-top: 8%;
}
.sub-div{
    color: #62FBD8;
}
.sub-div p{
    color: #62FBD8;
    font-size: 1.2rem;
}
.sub-div h1{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #CCD6F6;
}

.sub-div span{
    color: #f30f6e;
    font-size: 4.2rem;
    font-weight: 600;
}

.sub-div h2{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #8892B0;
    padding-bottom: 13px;
}
.para-div{
    width: 720px;
    color: #CCD6F6!important;
}
.para-div p{
    color: #CCD6F6!important;
}
.para-div span{
    color: #62FBD8;
    font-size: 1.2rem;
    font-weight: 500;
}
.btn-div button{
    border: 1.5px solid #62FBD8;
    color: #62FBD8;
}
/* card secyion */
.card{
    border: none!important; 
    margin-top: 150px;
    margin-left: 28%;
}
.card1 p{
    color: #8892B0;
    font-size: 1.1rem;
    font-weight: 500;
}
.card1 .card-title{
    color: #62FBD8;
    font-size: 1.4rem;
    font-weight: 600;
}
.card1 p span{
    color: #62FBD8;
}

.card img{
    padding-top: 55px;
}

.div1{
    display: inline-flex;
    color: #62FBD8;
}
.div2{
    margin-left: 30%;
    display: inline-flex;
    color: #62FBD8;
}
.div-a p{
    color: #CCD6F6
}
.div-a ul li{
    color: #8892B0;
}

.card3 .card-text{
    margin-top: 140px;
}
.card3 p span{
    font-size: 15px;
    text-align: end;
}

.card3 h3{
    color: #CCD6F6
}
.card3 .sub-card{
    color: #8892B0;
    background-color: #0b1c35;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 16px;
    margin-right: 120px!important;
}

.span-div span{
    color: #62FBD8;
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 7px;
}
.project-div img{
    width: 120%;
    height: 120%;
    margin-right: -15%;
    border-radius: 25px;
}
/* card - 6 */

.content-div{
    padding-top: 140px;
}

.content-div h1{
    text-align: center;
    color: #CCD6F6
}
.content-div h6{
    color: #62FBD8;
    text-align: center;
}

.content-div span .img1{
    width: auto;
    height: 38%;
    margin-left: 25px;
}

.content-div span .img2{
    width: auto;
    height: 30%;
    margin-left: 100px;
    color: white!important;
}

.card10{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 350px;
}

.card10 .card-title{
    color: #CCD6F6;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 25px;
} 

.card10 .card-text{
    margin-top: 23px;
    color: #CCD6F6;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 30px;
} 

.card10 span{
    color: #62FBD8;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 50px;
}

.content-div{
    padding: 20% 10% 0 0;
}

/* new content section */
.new-div-content{
    padding-top: 200px;
    padding-left: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    
}
.new-div-content .color{
    color: #62FBD8;
    text-align: center;
}
.new-div-content h2{
    font-size: 3.2rem;
    color: #CCD6F6;
    text-align: center;
    margin-top: 20px;
}

.new-div-content .left{
    color: #8892B0;
    text-align: center;
    margin: 3% 28% 0 28%;
    text-align: calc(50% - 50px);

}

.btn-div2{
    text-align: center;
    margin-top: 4%;
    padding: 6px;
    font-size: 25px!important;
}

.btn-div2:hover{
    color: #62FBD8;
}

/* footer */
.footer-div{
    padding-top: 100px;
}

.footer-div p{
    color: #62FBD8;
    text-align: right;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0a192f;
    margin-left: 70%;
    padding: 20px;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;

}
